<div class="col-md-12">
	<h1>Biography</h1>
	
	<%= image_tag("KathrynMuellerSopranoHeadshot2S.jpg", :alt => "Kathryn Mueller soprano headshot", :class => "img-left") %>
	<p>
	Praised for her "beautiful voice of shining clarity," American soprano Kathryn Mueller has made a mark with her "appealing stage presence of personal warmth and musicianship", singing a wide range of repertoire from period baroque performances to world premieres of new works. She has sung with the LA Chamber Orchestra, American Bach Soloists, Portland Baroque Orchestra, Santa Fe Pro Musica, Phoenix Symphony, New Mexico Symphony Orchestra, Winston-Salem Symphony, and Tucson Symphony Orchestra. She collaborates as a guest artist with the award-winning early music group Wayward Sisters, and has also sung operatic roles with companies including Arizona Opera and Bach Collegium San Diego.
	</p>

	<p>
	Kathryn received a 2015 GRAMMY nomination for her solo work on True Concord’s album <em>Far in the Heavens.</em> She has also recorded two GRAMMY-nominated albums with Seraphic Fire, and is featured as a soloist on recordings by New Trinity Baroque, the Santa Fe Desert Chorale, Tucson Chamber Artists, and Seraphic Fire, including Seraphic Fire’s best-selling <em>Monteverdi Vespers of 1610,</em> which reached the top of the iTunes classical chart.
	</p>

	<p>
	In 2011 Kathryn was one of four fellows in the prestigious Adams Vocal Master Class at the Carmel Bach Festival. She was a finalist in the 2012 and 2013 Oratorio Society of New York's Solo Competition, winning the Frances MacEachron Award in 2013. Kathryn's soprano duo Les Sirènes was one of 6 finalist groups in Early Music America's 2012 Baroque Performance Competition.
	</p>

	<p>
	Kathryn gave the world premiere of Ananda Sukarlan’s song cycle <em>Love and Variations,</em> commissioned for her vocal-piano ensemble, the Swara Sonora Trio. She made her international debut in 2009 on an Indonesian concert tour with the Swara Sonora Trio, closely followed by concerts in Central Mexico with the baroque ensemble Capella Guanajuatensis.
	</p>

	<p>
	2017-2018 performances include Kathryn’s debuts with the Memphis Symphony, Charlotte Symphony, and the Spartanbug Philharmonic, and her first performance of Gliére's tour-de-force <em>Concerto for Coloratura Soprano.</em>
	</p>

	<p>
	Kathryn holds undergraduate and master’s degrees in music from Brown University and The University of Arizona, respectively, and spent a summer in Salzburg studying Lieder at the Mozarteum. She is based in Raleigh, NC and is on the voice faculties at East Carolina University and North Carolina State University.
	</p>

</div>