
  			<div clas="col=md-12">
				<%= image_tag("KathrynMuellerSopranoHeadshot1.jpg", :alt => "Kathryn Mueller soprano headshot", :class => "img-fluid") %>
			 </div>

  		</div>

  	</div>


  	<div class="container">

  		<div class="row">
  		<div class="spacerbar">
  			<!-- no content in this div; just creating space -->
		
  		</div>
  		</div>

  	</div>

  	<div class="container">

  		<div class="row">

    		<div class="col-md-4">
    			<p>Kathryn Mueller brought to the performance a beautiful voice of shining clarity, particularly in her high range. It seemed as if she belonged there, effortless, completely controlled and beautiful; and she had an appealing stage presence of personal warmth and musicianship.</p>
				<br>
    			<p>WINSTON-SALEM JOURNAL</p>
    		</div>

			<div class="col-md-4">
					<div class="embed-responsive embed-responsive-16by9">
				  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kd7Ms1s6Xl8"></iframe>
					</div>
					<div class="text-center"><a href="https://youtu.be/kd7Ms1s6Xl8" target="_blank"> watch on YouTube</a></div>
    		</div>

    		<div class="col-md-4">
    			
    			<div class="row">
    			<div class="col-md-4">

	<b>New!</b> <p> Watch Kathryn sing Glière's virtuosic <i> Concerto for Coloratura Soprano </i></p>
    			</div>
    		
    			

    			<div class="col-md-8">
				
				<h3> <span class="glyphicon glyphicon-headphones"> </span> Get Kathryn's brand-new solo album, <i>Love & Loss</i></h3>
    			</div>	
    			</div>
    		</div>



  	<!-- I think this doesn't close anything? -->
  	<!-- </div> -->
  
