<div class="col-md-12">
	<h1>Press</h1>
 
		<div class="card">
		  <div class="card-header">
		    <em>Messiah</em> with Charlotte Symphony
		  </div>
		  <div class="card-body">
		    <blockquote class="blockquote mb-0">
		      <p>More chills came with the tender contrast of soprano Kathryn Mueller singing "I Know That My Redeemer Liveth" after we were back in our seats. I'm not sure that I've ever heard Mueller's last phrase, "the first fruits of them that sleep," delivered with such beguiling fructose.</p>
		      <footer class="blockquote-footer">December 15, 2017 <cite title="Source Title">CVNC</cite></footer>
		    </blockquote>
		  </div>
		</div>

		<div class="card">
		  <div class="card-header">
		    <em>Messiah</em> with Seraphic Fire
		  </div>
		  <div class="card-body">
		    <blockquote class="blockquote mb-0">
		      <p>The remarkable Kathryn Mueller goes from strength to strength. She displayed wonderful agility and freedom in the upper register for “Rejoice greatly.” The soprano’s interpolated high notes and cadenza near the end of the aria were totally idiomatic. “I Know that my Redeemer Liveth” was even more beautifully sung, with Mueller’s graceful shaping of the melody and soft rendering of the final verse deeply moving.</p>
		      <footer class="blockquote-footer">December 19, 2015 <cite title="Source Title">South Florida Classical Review</cite></footer>
		    </blockquote>
		  </div>
		</div>

</div>