<div class="col-md-8 offset-md-2">
	<h1>Video Clips</h1>

		<div class="card"">
		  <div class="row">
		  <iframe width="560" height="315" src="https://www.youtube.com/embed/kd7Ms1s6Xl8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="center"></iframe>
			</div>
		  <div class="card-body">
		    <h5 class="card-title">Card title</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>

</div>